{% extends 'substitut/base.html' %}
{% block content %}



<section id="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Erreur 404</h2>
          <hr class="my-4">

            <p>
            <h3>Désolé, je ne trouve pas le produit que vous recherchez :(</h3></p>

          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Retour à l'acceuil du site</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}