{% extends 'substitut/base.html' %}
{% block content %}



<section id="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Erreur du serveur</h2>
          <hr class="my-4">

            <p>
            <h3>Une erreur s'est produite. Quelqu'un a peut-être renversé son café sur mes circuits ou a oublié de m'alimenter. Quoi qu'il en soit, je ne suis pas en état de répondre à votre demande</h3>
            </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Retour à l'acceuil du site</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}