{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
Vous êtes connecté, {{ user.username }} !

{% else %}
<form method="post"  role="form" action="/">
{% csrf_token %}
    <div class="mx-auto col-lg-5">
    <ul class="list-unstyled text-center">
        <li><input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur"></li>
        <li><input type="email" class="form-control" name="email" placeholder="Email"></li>
        <li><input type="password" class="form-control" name="password" placeholder="Mot de passe"></li>
    </ul>
    </div>
    <input type="submit" value="Me connecter" />
</form>
{% endif %}
