{% extends 'substitut/base.html' %}
{% load static %}
{% block content %}
<section id="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Mentions légales</h2>
          <hr class="my-4">

                <ul class="list-unstyled">
            <li>ÉDITEUR du site internet www.purbeurre.herokuapp.com :</li>
            <li>Téléphone : 000-000-000</li>
            <li>Adresse email : purbeurre@purbeurre.com</li>
            <li>DIRECTEUR DE LA PUBLICATION du site internet www.purbeurre.herokuapp.com :
                Colette Tatou et Rémy</li>
            <li>HÉBERGEUR du site internet www.purbeurre.herokuapp.com :
                Heroku</li>
            <li>
                Aucune exploitation commerciale, même partielle, des données présentes sur le site internet Purbeurre ne pourra être effectuée sans l’accord préalable et écrit de Colette & Remy.
            </li>
        </ul>



          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Retour à l'acceuil du site</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
