{% extends 'substitut/base.html' %}
{% load static %}
{% block content %}
<section id="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Mentions légales</h2>
          <hr class="my-4">
            <div class="row">
                <div class="col-lg-6 text-left">
                    <ul class="list-unstyled">
                        <li>Dir. de la publication :
                            Colette Tatou et Rémy</li>
                        <li>Implémentation : CLG / <a href="https://github.com/CoLoDot/Pur_beurre">Code source</a></li>
                        <li>Téléphone : 000-000-000</li>
                        <li>Email : purbeurre@purbeurre.com</li>

                        <li>Hébergement : <a href="https://www.heroku.com/">Heroku</a> </li>
                        <li class="text-info">
                            Aucune exploitation commerciale, même partielle, des données présentes sur le site internet Purbeurre ne pourra être effectuée sans l’accord préalable et écrit de Colette & Remy.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 text-left">
                    <ul class="list-unstyled">
                        <li><strong>Visuels</strong>
                                <li>Nutriscores : <a href="https://fr.openfoodfacts.org/">Open Food Facts</a> </li>
                                <li>Logo : Pur Beurre </li>
                                <li>Colette : Pur Beurre</li>
                                <li>Remy : Pur Beurre </li>
                                <li>Carrotte : <a href="https://thenounproject.com/term/carrot/29691/">Fabien Jouin pour The Noun Project © CC </a> </li>
                                <li>Quitter : <a href="https://thenounproject.com/search/?q=652650&i=652650">Joris Millot pour The Noun Project © CC </a></li>
                                <li>Utilisateur : <a href="https://thenounproject.com/search/?q=1214549&i=1214549">Alvianwijaya pour The Noun Project © CC</a></li>

                                </li>

                    </ul>
                </div>


        </div>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Retour à l'acceuil du site</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
