{% extends 'substitut/base.html' %}

{% load static %}

{% block content %}

<section id="bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-heading">Mes aliments</h2>
          <hr class="my-4">
            {% if user.is_authenticated %}
                <h3>A hoy ! {{ user.username }}</h3>

                {% include 'substitut/products.html' %}

            {% else %}
                <h2>Vous n'êtes pas connecté.</h2>
            {% endif %}



          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Retour à l'acceuil du site</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}